<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
    <title>Flask L12</title>
  </head>
  <body>
	  <div class="container max-w-md mx-auto text-gray-600 text-2xl m-4">
<main class="">

       {% block main %} {% endblock main %}
</main>
	  </div>
  </body>
</html>
