{% extends 'base_.html' %} {% block main %}

<h1 class="text-center text-gray-700 uppercase font-bold text-4xl mb-5">
  Поиск постов
</h1>

<div class="flex flex-col">
  <form action="{{ url_for('main.search_page')  }}" method="get">
    <p class="mb-4">По вхождению слова</p>
    <div class="flex justify-start">
      <input
        type="text"
        name="s"
        class="
          border-2
          rounded-md
          h-11
          bg-gray-100
          p-3
          border-red-100
          hover:border-red-300
          mr-10
          ease-in
          duration-200
        "
      />
      <input
        type="submit"
        value="Найти"
        class="
          rounded-md
          border-2
          p-3
          ml-4
          bg-gray-100
          text-sm
          uppercase
          font-medium
          h-11
          border-red-100
          hover:bg-red-300 hover:border-red-300 hover:text-white
          w-fit
          ease-in
          duration-200
        "
      />
    </div>
  </form>

  <a
    href="{{ url_for('loader.page_post_form')}}"
    class="
      mt-10
      p-3
      w-fit
      rounded-md
      border-2
      uppercase
      bg-gray-100
      text-sm
      font-medium
      border-red-100
      hover:bg-red-300 hover:text-white
      ease-in
      duration-200
    "
    >Добавить пост</a
  >

  {% endblock main %}
</div>
