{% extends 'base_.html' %} {% block main %}
<div>
  <a
    class="
      text-center text-gray-400
      uppercase
      font-bold
      text-xl
      hover:text-red-300
      ease-in
      duration-200
    "
    href="{{url_for('main.index_page')}}"
    >назад</a
  >
  <h1 class="text-center text-gray-700 uppercase font-bold text-4xl mt-8">
    Посты по запросу
    <span class="text-red-300 font-medium indent-8">"{{ s }}"</span>
  </h1>

  {% if tags %} {% for tag in tags %}
  <section class="mt-5">
    <div class="mb-7">
      <img
        class="rounded-lg border-l-4 border-b-4 border-red-300"
        src="{{ tag.pic }}"
        alt=""
      />
    </div>
    <div class="mb-7">
      <p
        class="
          text-justify text-lg
          first-letter:text-5xl
          first-letter:font-medium
          first-letter:text-gray-700
          first-letter:mr-3
          first-letter:float-left
        "
      >
        {{ tag.content }}
      </p>
    </div>
    <p class="border-b-4 border-red-300"></p>
  </section>
  {% endfor %}

  {% else %}
  <p class="mt-20 text-7xl text-gray-500 uppercase text-center">опа тут ничего нет...</p>
  </div>

  {% endif %}
</div>

{% endblock %}
