{% extends 'base_.html' %} 
{% block main %}


<div class="flex flex-col">
<a
    class="
      text-center text-gray-400
      uppercase
      font-bold
      text-xl
      hover:text-red-300
      ease-in
      duration-200
    "
    href="{{ url_for('main.index_page') }}"
    >Назад</a
  >

<span class="text-red-400 text-center text-3xl uppercase mt-10" >ошибка загрузки</span> 
</div>
{% endblock main %}</span>
