{% extends 'base_.html' %} {% block main %}

<div>
  <a
    class="
      text-center text-gray-400
      uppercase
      font-bold
      text-xl
      hover:text-red-300
      ease-in
      duration-200
    "
    href="{{ url_for('main.index_page') }}"
    >Назад</a
  >

  <h1 class="text-center text-gray-700 uppercase font-bold text-4xl mt-8">
    Добавить пост
  </h1>

  <form
    action="{{ url_for('loader.page_post_upload') }}"
    method="POST"
    enctype="multipart/form-data"
  >
    <p class="mb-4 mt-4">Картинка к посту</p>
    <div>
      <input
        type="file"
        name="picture"
        class="
          text-sm
          w-full
          file:text-gray-500
          file:uppercase
          file:mr-4
          file:py-2
          file:px-4
          file:rounded-md
          file:border-2
          file:border-red-100
          file:text-sm
          file:font-medium
          file:bg-gray-100
          hover:file:bg-red-300 hover:file:text-white
          ease-in
          duration-200
        "
      />
    </div>
    <p class="mt-4">Текст к посту</p>
    <div class="mt-5">
      <textarea
        name="content"
        rows="7"
        cols="55"
        class="mt-5 border-2 border-red-100 rounded-md text-sm"
      ></textarea>
    </div>

    <div>
      <input
        type="submit"
        value="Добавить"
        class="
          mt-10
          p-3
          w-fit
          rounded-md
          border-2
          uppercase
          bg-gray-100
          text-sm
          font-medium
          border-red-100
          hover:bg-red-300 hover:boder-red-300 hover:text-white
          ease-in
          duration-200
        "
      />
    </div>
  </form>
</div>

{% endblock main %}
