{% extends 'base_.html' %} {% block main %}

<div class="">
  <a
    href="{{ url_for('main.index_page') }}"
    class="
      text-center text-gray-400
      uppercase
      font-bold
      text-xl
      hover:txt-red-300
      ease-in
      duration-200
    "
    >Назад</a
  >

  <h1 class="text-center text-gray-700 uppercase font-bold text-4xl mt-8">
    Пост добавлен!
  </h1>

  <section class="mt-5">
    <div class="mb-7">
      <img
        src="{{picture}}"
        width="100%"
        alt=""
        class="rounded-lg border-l-4 border-b-4 border-red-400"
      />
    </div>
    <div class="mb-7">
      <p
        class="
          text-justify text-lg
          first-letter:text-5xl
          first-letter:font-medium
          first-letter:text-gray-700
          first-letter:mr-3
          first-letter:float-left
        "
      >
        {{ content }}
      </p>
    </div>

    <p class="border-b-4 border-red-300 mb-10"></p>
  </section>

  <a
    href="{{ url_for('loader.page_post_form') }}"
    class="
      mb-10
      p-3
      w-fit
      rounded-md
      border-2
      uppercase
      bg-gray-100
      text-sm
      font-medium
      border-red-100
      hover:bg-red-300 hover:text-white
    "
    >Добавить еще пост</a
  >
</div>
{% endblock main %}
